<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sunshine Woodworkz</title>
    @Styles.Render("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    @Styles.Render("//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    @Styles.Render("//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css")
    @Styles.Render("//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css")
    @Styles.Render("/Libraries/imageviewer/imageviewer.css")
    @Styles.Render("/Libraries/lobibox/lobibox.min.css")
    @Styles.Render("/Content/Site.css")

</head>
<body class="override">
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sunshine Woodworkz", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Products", "", "Products")</li>
                    <li>@Html.ActionLink("Cart", "Index", "Cart")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
        </footer>
    </div>
    
    @Scripts.Render("//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    @Scripts.Render("//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js")
    @Scripts.Render("//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    @Scripts.Render("//cdn.ckeditor.com/4.5.10/standard/ckeditor.js")
    @Scripts.Render("//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js")
    @Scripts.Render("//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js")
    @Scripts.Render("/Libraries/imageviewer/imageviewer.min.js")
    @Scripts.Render("/Libraries/lobibox/lobibox.min.js")
    @Scripts.Render("/Scripts/jquery.form.js")
    @Scripts.Render("/Scripts/global.js")
    @Scripts.Render("/Scripts/app.js")
    @RenderSection("scripts", required: false)
</body>
</html>
